<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Excellence_Hello::hello" title="Hello" module="Excellence_Hello" sortOrder="80" resource="Excellence_Hello::hello"/>
   	</menu>
</config>